<div class="trade_section">
  <h3>{{localize.language.trade}}</h3>
  <div class="trade_section_menu">
    <div class="trade_section_menu_item">
      <span class="common_small_span_grey">{{localize.language.accountBalance}}</span>
      <h4>{{tradeService.paymentSettings?.balance | number : '1.2-2' | noComma}}
        <span class="currency_text">{{tradeService.paymentSettings?.currency}}</span>
      </h4>
    </div>
    <div class="trade_section_menu_item">
      <span class="common_small_span_grey">{{localize.language.recourse}}</span>
      <h4>{{tradeService.paymentSettings?.fund | number : '1.2-2' | noComma}}
        <span class="currency_text">{{tradeService.paymentSettings?.currency}}</span>
      </h4>
    </div>
    <div class="trade_section_menu_item">
      <span class="common_small_span_grey">{{localize.language.profitMargin}}</span>
      <h4>{{tradeService.paymentSettings?.marja | number : '1.2-2' | noComma}}
        <span class="currency_text">{{tradeService.paymentSettings?.currency}}</span>
      </h4>
    </div>
    <div class="trade_section_menu_item">
      <span class="common_small_span_grey">{{localize.language.freeProfitMargin}}</span>
      <h4>{{tradeService.paymentSettings?.freeMarja | number : '1.2-2' | noComma}}
        <span class="currency_text">{{tradeService.paymentSettings?.currency}}</span>
      </h4>
    </div>
  </div>

  <div class="trade_section_switcher">
    <span class="common_medium_span_grey" routerLink="/trade/stocks">{{localize.language.stocks}}</span>
    <span class="common_medium_span_grey" routerLink="/trade/portfolio">{{localize.language.portfolio}}</span>
    <span class="common_medium_span_grey" routerLink="/trade/order">{{localize.language.order}}</span>
    <span class="common_medium_span_grey" routerLink="/trade/history">{{localize.language.history}}</span>
    <div class="switcher_block"
         [ngClass]="'switch_animate_' + tradeService.tradeCurrentMenu">
      <span>{{localize.language[tradeService.tradeCurrentMenu]}}</span>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>

